<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><++></title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <style>
      @media print {@page {margin:0; size:1024px 576px;}}
      /* add custom style here (or in separate stylesheet) */
    </style>
  </head>
  <body>
    <dd-slide-collection main-title="<++>"
                         sub-title="<++>"
                         author="<++>"
                         organisation="<++>"
                         organisation-url="<++>"
                         date="<++>"
                         url="<++>"
                         img-src="<++>"
                         img-url="<++>">

      <!-- USEFUL COMPONENTS -->
      <!--<dd-footer></dd-footer>-->
      <!--<dd-titlepage></dd-titlepage>-->
      <!--<dd-slide><h2>My first slide</h2></dd-slide>-->
    </dd-slide-collection>
  </body>
</html>
