/*
 * SPDX-FileCopyrightText: 2022 Digital Dasein <https://digital-dasein.gitlab.io/>
 * SPDX-FileCopyrightText: 2022 Senne Van Baelen <senne@digitaldasein.org>
 * SPDX-FileCopyrightText: 2022 Gerben Peeters <gerben@digitaldasein.org>
 *
 * SPDX-License-Identifier: MIT
 */

/* ##############################
 * # Digital Dasein baisc CSS
 * ##############################
 *
 * Containing:
 * ==========
 * - CSS VARIABLES
 * - LISTS
 *
 */

/* =============== */
/* CSS VARIABLES   */
/* =============== */

dd-slide-collection {
   --dd-color-prim:          rgba(153, 155, 132, 1);
   --dd-color-prim-dark:     rgba(65, 90, 72, 1);
   --dd-color-sec:           rgba(248, 237, 227, 1);
   --dd-color-sec-dark:      rgba(238, 254, 216, 1);
   --dd-color-list-bg:       rgba(248, 237, 227, 0.5);
   --dd-color-text:          rgba(0, 0, 0, 0.9);
   --dd-color-text-light:    rgba(255, 255, 255, 1);
}

/* ========== */
/* LISTS      */
/* ========== */

.slide ul,
.slide ol {
    line-height:1.5em;
}
